<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <div class="grid">
        <%- include('partials/banner') %>
        <%- include('partials/searchbox') %>
        <%- include('partials/navbar2') %>
        <div class="content_section">
            <fieldset>
                <legend>User details</legend>
                <table>
                    <tr>
                        <th>_id</th>
                        <th>Forename</th>
                        <th>Surname</th>
                        <th>Number of Accounts</th>
                        <th>Date of Birth</th>
                        <th>Executive Account Holder</th>
                    </tr>
                    <tr>
                        <td>
                            <%=user._id%>
                        </td>
                        <td>
                            <%=user.userforename%>
                        </td>
                        <td>
                            <%=user.usersurname%>
                        </td>
                        <td>
                            <%=user.userAccounts%>
                        </td>
                        <td>
                            <%=user.userDOB.toLocaleDateString()%>
                        </td>
                        <td>
                            <%=user.executiveAC%>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div class="footer_section">-----</div>
    </div>
</body>
</html>