<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head2') %>
<body>
    <div class="grid">
        <%- include('partials/clientandsupportnavbar') %>
        <div class="content_section">
           <%- include('partials/supportnavbar') %>
           <fieldset>
            <fieldset>
                <legend><b>Profile Details</b></legend>
            
                
                    <article class="profile">
                        
                        <section>
                            <p>First Name: <%=users.firstName%></p>
                        </section>

                        <section>
                           <p>Last Name: <%=users.lastName%></p>
                        </section>


                        <section>
                            <p>Address: <%=users.address%></p>
                        </section>

                        <section>
                            <p>Date of Birth: <%=users.userDOB.toLocaleDateString()%></p>
                        </section>
                        <section>
                            <p>Gender: <%=users.gender%></p>
                        </section>
                    </article>

                

            
            </fieldset>
            
        </fieldset>
        </div>
        <%- include('partials/footer') %>
    </div>